<%= @tab = "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp" %>
<nav class="navbar navbar-fixed-top navbar-inverse ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed primary" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home Page</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="divider"></li>
        <li class=""><a href="basic-information">Basic Information</a></li>
        <li class=""><a href="who-was-involved">Who was involved?</a></li>
        <li class=""><a href="why-is-this-important">Why is this important?</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="how-is-this-similar-to-other-revolutions">How is this similar to other revolutions?</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-inverse " data-toggle="dropdown" role="button" aria-expanded="false">Sources<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://adst.org/2014/07/the-iraqi-revolution-of-1958/">Source 1</a></li>
            <li><a href="http://spartacus-educational.com/IRQrevolution.htm">Source 2</a></li>
            <li><a href="http://www.historytoday.com/antony-hornyold/iraqs-revolution-bastille-day-baghdad">Source 3</a></li>
            <li><a href="http://www.globalsecurity.org/military/world/war/iraq-coup.htm">Source 4</a></li>
            <li class="divider"></li>
            <li><a href="works-cited">Works Cited</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h1 class="text-center">Iraq Revolution</h1>
<div class="text-center "><img class="text-center image-front1" src="http://www.kurdmedia.com/pix/demo_17feb2011_2.jpg"></div>
<h4 class="text-center">By Chris Hoile and Luke Sauer</h4>
