<%= @tab = "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp" %>
<nav class="navbar navbar-fixed-top navbar-inverse ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed primary" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home Page</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="divider"></li>
        <li class=""><a href="basic-information">Basic Information</a></li>
        <li class="active"><a href="who-was-involved">Who was involved?</a></li>
        <li class=""><a href="why-is-this-important">Why is this important?</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="how-is-this-similar-to-other-revolutions">How is this similar to other revolutions?</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-inverse " data-toggle="dropdown" role="button" aria-expanded="false">Sources<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://adst.org/2014/07/the-iraqi-revolution-of-1958/">Source 1</a></li>
            <li><a href="http://spartacus-educational.com/IRQrevolution.htm">Source 2</a></li>
            <li><a href="http://www.historytoday.com/antony-hornyold/iraqs-revolution-bastille-day-baghdad">Source 3</a></li>
            <li><a href="http://www.globalsecurity.org/military/world/war/iraq-coup.htm">Source 4</a></li>
            <li class="divider"></li>
            <li><a href="works-cited">Works Cited</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h1 class="text-center">Important People in the Iraq Revolution</h1>
<blockquote>
  <div class="inline-block"><img class="image-front1" src="http://img.zvab.com/member/a1010w/42810245.jpg"></div>
  <p class="width1">General Abd al-Karim Qasim, the main leader in the Free Officer group. He planned and led the overthrow of the government.</p>
</blockquote>
<blockquote class="blockquote-reverse ">
  <div class="inline-block"><img class="image-front1" src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/President_Abd_al-Salam_Arif.jpg/220px-President_Abd_al-Salam_Arif.jpg"></div>
  <p class="width2 pull-right">Colonel Abdul Salam Arif, a leader in the Free Officer group. He took control of the radio stations to broadcast about the revolution.</p>
</blockquote>
<blockquote>
  <div class="inline-block"><img class="image-front1" src="http://i-cias.com/e.o/slides/faisal2_01.jpg"></div>
  <p class="width1">Faisal II, the last king of Iraq. He was killed as was his family during the revolution.</p>
</blockquote>
<blockquote class="blockquote-reverse ">
  <div class="inline-block"><img class="image-front1" src="http://upload.wikimedia.org/wikipedia/commons/e/e4/Nasser_portrait2.jpg"></div>
  <p class="width2 pull-right">Garmal Abdel Nasser, a non-military leader in the Free Officer group. He was thought to have been the guiding hand behind the revolution and personally planned the overthrow.</p>
</blockquote>
