<%= @tab = "&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp" %>
<nav class="navbar navbar-fixed-top navbar-inverse ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed primary" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home Page</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="divider"></li>
        <li class=""><a href="basic-information">Basic Information</a></li>
        <li class=""><a href="who-was-involved">Who was involved?</a></li>
        <li class=""><a href="why-is-this-important">Why is this important?</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="how-is-this-similar-to-other-revolutions">How is this similar to other revolutions?</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-inverse " data-toggle="dropdown" role="button" aria-expanded="false">Sources<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://adst.org/2014/07/the-iraqi-revolution-of-1958/">Source 1</a></li>
            <li><a href="http://spartacus-educational.com/IRQrevolution.htm">Source 2</a></li>
            <li><a href="http://www.historytoday.com/antony-hornyold/iraqs-revolution-bastille-day-baghdad">Source 3</a></li>
            <li><a href="http://www.globalsecurity.org/military/world/war/iraq-coup.htm">Source 4</a></li>
            <li class="divider"></li>
            <li><a href="works-cited">Works Cited</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<h1 class="text-center">Similarities and Differences</h1>
<h4 class="parg"><%= @tab %>There are many similarities and differences between this revolution and the other ones we have studied in class. Some major similarities are:</h4>
<li><h5 class="parg">all involve resistance to a central government</h5></li>
<li><h5 class="parg">all have divisions of class (Rich VS. Poor)</h5></li>
<li><h5 class="parg">in all the poor class has less power but is far larger than the richer classes</h5></li>
<li><h5 class="parg">fight to achieve higher living standards for civilians</h5></li>
<h4 class="parg"><%= @tab %>While there are many similarities between these revolutions there are also quite a few difference. The most important being:</h4>
<li><h5 class="parg">this revolution has the potentially to kickstart many others</h5></li>
<li><h5 class="parg">this revolution involves resistance against outside nations</h5></li>
<li><h5 class="parg">this revolution received help from nations outside that agreed with their cause</h5></li>
<li><h5 class="parg">in this revolution the overthrow of the government only took a few days.</h5></li>
<h4 class="parg"><%= @tab %>This revolution is the most important revolution because of its ability to impact other nations in the world and not just itself. They were able to start a movement that will help the arab nations break free from the powers that manipulate them and one day become independent nations themselves.</h4>